@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

body {
    margin: 0px
}

html {
    scroll-behavior: smooth;
}

.cab {
    background-image: url('img/1346622.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    height: 1080px;

    a {
        text-decoration: none;
        color: white;
    }
}

.text-cab {
    display: flex;
    gap: 35px;
    margin-left: 189px;
    font-size: 15px;
    font-family: "Alan Sans", sans-serif;
    text-shadow: 7px 7px 4px #000000;
    color: white;
}

.titu-cab {
    display: flex;
    width: 750px;
    margin-left: 189px;
    text-shadow: 7px 7px 4px #000000;
    font-size: 30px;
    font-family: "Alan Sans", sans-serif;
    color: white;
}

.corp-texto {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    font-size: 20px;
    text-align: justify;
    font-family: "Alan Sans", sans-serif;
    margin-bottom: 40px;
}

.esquerda-corp-text {
    width: 600px;

    h1 {
        margin-top: 0px;
    }
}

.img-corp-texto {

    transition: transform 0.3s ease;

    img {
        width: 750px;
        border-radius: 20px;
    }
}
.img-corp-texto:hover{
    transform: scale(1.03);
}

.text-perso {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-family: "Alan Sans", sans-serif;
}

.personagens {

    display: flex;
    justify-content: space-around;
    margin-top: 20px;

}

.grid-perso {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.perso-esqur {

    display: flex;
}

.perso-direi {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.perso-direi h2 {

    text-align: center;
    font-family: "Alan Sans", sans-serif;
}

.perso-direi p{

    font-family: "Alan Sans", sans-serif;
    text-align: justify;
}

.perso-direi img {

    transition: transform 0.3s ease;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}


.img-perso {

    border: solid black 5px;
    border-radius: 40%;
    overflow: hidden;
    width: 200px;
    height: 200px;

}

.imagem-perso {

    width: 200px;
    height: 200px;
    object-fit: cover;
}

.imagem-perso-direi{

    transition: transform 0.3s ease;
}

.imagem-perso-direi:hover{

    transform: scale(1.02);
}

.fim {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: "Alan Sans", sans-serif;

    a {

        color: black;
        text-decoration: none;
    }

    p{
        margin: 0px;
    }

    img{
        width: 40px;
    }
}

.fim-a{

    transition: transform 0.3s ease;
}

.fim-a:hover{

    transform: scale(1.02);
}